
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Libre+Baskerville&family=Mukta:wght@200&family=Signika+Negative:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100%;
}
.container{
	width: 100%;
	height: 100%;
	/* max-width: 1200px; */
	margin: 0 auto;
}

.navBarContainer{
	height: 128px;
	overflow: hidden;
	background-color: #fff;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 12;
  
}


/* *******
****	Nav Bar Top */

.navBarTop{
	display: flex;
	height: 50%;
	border-bottom: 1px solid #D5E0D5;
	padding: 10px 24px;

}
.navRow{
	display: flex;
}


.navLogo{
	display: flex;
	align-items: center;
	padding: 0 24px;
}
.navLogo .logoImg{
	width: 85px;
	height: 25.5px;
}
.navLogo .closeMenu,
.navLogo .openMenu{
	display: none;
	height: 25px;
	width: 25px;
	cursor: pointer;
}



.ramka {
	max-width: 1200px;
	margin: 0 auto;
}
/* *********
	Nav bar left side */

.navBarTop .navLeft{
	width: 50%;
	display: flex;
}
.navBarTop .navLeft .navLeftOptions{
	display: flex;
}
.navBarTop .navLeft .navLeftOptions .lis{
	display: flex;
	padding: 0 10px 0 0;
	cursor: pointer;
}
.navBarTop .navLeft .navLeftOptions .lis p{
	display: flex;
	align-items: center;
	padding: 10px 3px 10px 10px;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}
.navBarTop .navLeft .navLeftOptions .lis p:hover{
	color:rgb(6, 206, 6) ;
}
.navBarTop .navLeft .navLeftOptions .lis .arrow{
	display: flex;
	align-items: center;
}
.navBarTop .navLeft .navLeftOptions .lis .arrow img{
	width: 12px;
	height: 12px;
}

.navBarPassive{
	display: none;
}
.navBarPassive img{
	width: 20px;
	height: 20px;
}
/* *********
	Nav bar right side */

.navBarTop .navRight{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 24px;
}
.navBarTop .navRight form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	height: 40px;
	border: 2px solid rgb(229, 229, 229);
	border-radius: 20px;
}
.navBarTop .navRight form input{
	display: flex;
	width: 200px;
	height: 36px;
	padding: 1px 35px 0 10px;
	border: none;
	outline: none;
	border-radius: 20px;
}
.navBarTop .navRight form img{
	width: 14px;
	height: 14px;
	margin-left: 6px;
}
.navBarTop .navRight form button{
	width: 105.75px;
	height: 36px;
	padding: 10px 15px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	/* background-color: #FFFFFF; */
}
.navBarTop .navRight form button img{
	width: 12px;
	height: 12px;
}
.navBarTop .navRight a{
	width: 79.33px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	cursor: pointer;
	color: black;
}
.navBarTop .navRight .signUpBtn{
	width: 102.08px;
	height: 40px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	background-color: #108A00;
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}

/* *******
****	Nav Bar Bottom */

.navBarBottom{
	height: 50%;
	padding: 10px 24px;
}

.navRightOptions{
	display: flex;
}
.navRightOptions a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	cursor: pointer;
	padding: 0 12px 0 0;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}
.navRightOptions a:hover{
	text-decoration: underline;
}
.navRightOptions .moreBtn{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
}
.navRightOptions .moreBtn img{
	width: 12px;
	height: 12px;
}
.navRightOptions .moreBtn span{
	display: flex;
	align-items: center;
	cursor: pointer;
}

/* *******
****	container inner ** content */

.containerInner{
	width: 100%;
	
	margin-top: 61px;
}
.firstContentBlock{
	margin: 0 auto;
}

/* *******
*****	firstSection */

.firstContentBlock .firstSection{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.firstContentBlock .firstSection .contentInner{
	height: 100%;
	width: 45%;
}
.firstContentBlock .firstSection .contentInnerimg {
	height: 100%;
	width: 50%;
}
.firstContentBlock .firstSection .contentInnerimg img{
	width: 100%;
	height: 100%;
}
.firstContentBlock .firstSection .firstSectionTexts .firstSectionH1{
	width: 100%;
	height: 100%;
	font-size: 59px;
	margin-bottom: 15px;
	color:#14A800 ;
	font-family: 'Libre Baskerville', serif;
}
.firstContentBlock .firstSection .firstSectionTexts .firstSectionP{
	font-size: 20px;
	font-weight: 600;
	font-family: 'Inter', sans-serif;
	margin-bottom: 35px;
	color: #5E6D5A;
}
.firstContentBlock .firstSection .firstSectionTexts button{
	width: 124px;
	height: 33px;
	border-radius: 20px;
	border: none;
	background-color:#14A800 ;
	color: #fff;
}
.firstContentBlock .firstSection .firstSectionLogos{
	margin-top: 57px;
}
.firstContentBlock .firstSection .firstSectionLogos .title{
	margin-bottom: 4px;
}
.firstContentBlock .firstSection .firstSectionLogos .logos img{
	margin-right: 30px;
}

/* *******
*****	secondSection */


.firstContentBlock .secondSection{
	display: flex;
	align-items: center;
	margin: 0 auto 64px auto;
	width: 80%;
	height: 100%;
}
.firstContentBlock .secondSectionSliderBlock{
	height: 100%;
	width: 40%;
	display: flex;
	align-items: center;
	background-color: #F2F7F2;
}
.firstContentBlock .secondSectionSliderBlock img{
	width: 100%;
	height: 70%;
}

.firstContentBlock .secondSection .secondSectionTexts{
	margin-left: 20px;
	height: 100%;
}
.firstContentBlock .secondSection .secondSectionTexts .textBlock{
	display: flex;
}
.firstContentBlock .secondSection .secondSectionTexts .textBlock img{
	width: 24px;
	height: 24px;
}
.firstContentBlock .secondSection .secondSectionTexts h2{
	font-size: 40px;
	margin: 0px 0px 16px;
	font-family: 'Signika Negative', sans-serif;
	font-weight: 400;
}
.firstContentBlock .secondSection .textBlock p{
	margin: 4px 0px 0px;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
}
.firstContentBlock .secondSection .textBlock h5{
	font-size: 20px;
	font-family: 'Inter', sans-serif;
}
.firstContentBlock .secondSection .textBlock{
	margin: 0px 0px 24px;
}
.firstContentBlock .secondSection .textBlock .textsDiv{
	margin-left: 10px;
}
.firstContentBlock .secondSection .secondSectionTexts .buttons{
	display: flex;
	width: 100%;
}
.firstContentBlock .secondSection .secondSectionTexts .buttons .leftBtn{
	width: 50%;
	height: 40px;
	border-radius: 20px;
	padding: 0 24px;
	margin-right: 3px;
	background-color: #108A00;
	color: #fff;
	border: none;
	font-size: 16px;
}
.firstContentBlock .secondSection .secondSectionTexts .buttons .rightBtn{
	width: 50%;
	height: 40px;
	border-radius: 20px;
	padding: 0 24px;
	border: 2px solid #108A00;
	color: #108A00;
	background-color: #fff;
	font-size: 16px;
}

/* *******
*****	Third Section */
.firstContentBlock .thirdSection{
	width: 80%;
	margin: 0 auto;
}
.firstContentBlock .thirdSection h1{
	font-size: 42px;
	margin: 1px 0 10px;
	font-family: 'Signika Negative', sans-serif;
	font-weight:400;
}
.firstContentBlock .thirdSection .subTitle{
	display: flex;
	font-size: 16px;
	
}
.firstContentBlock .thirdSection p{
	font-size: 16px;
	margin: 0 0 40px;
	color: #5E6D5A;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
.firstContentBlock .thirdSection a{
	color: #14A800;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	text-decoration: none;
}
.firstContentBlock .thirdSection a:hover{
	text-decoration: underline;
}
.firstContentBlock .thirdSection .categoryBlock{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    grid-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 15px;
    row-gap: 15px;
    margin:30px auto 80px;
}
.firstContentBlock .thirdSection .categoryBlock .category{
	width: 20%;
    height: 140px;
    border-radius: 8px;
    padding: 20px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
	background-color: #F2F7F2;
}

.firstContentBlock .thirdSection .categoryBlock .category h6{
	font-size: 19px;
    font-weight: 600;
    cursor: pointer;
	font-family: 'Inter', sans-serif;
}
.firstContentBlock .thirdSection .categoryBlock .category span{
	font-size: 14px;
}
.firstContentBlock .thirdSection .categoryBlock .category img{
	width: 11px;
	height: 11px;
}
.firstContentBlock .thirdSection .categoryBlock .category .options{
	display: flex;
	align-items: center;
	padding: 15px 0 0;
}
.firstContentBlock .thirdSection .categoryBlock .category .options .rateDiv{
	display: flex;
	align-items: center;
	margin-right: 40px;
}













